<%= form_for [@setlist, Song.new] do |f| %>
  <div>
    <%= f.text_field :title, :maxlength => 28, :class => "InputField", :placeholder => "Song title" %>
  </div>
  <div>
    <%= f.number_field :minutes, :min => 0, :max => 1000, :class => "MinInputField", :placeholder => "min" %>
  </div>
  <div>
    <%= f.number_field :seconds, :min => 0, :max => 59, :class => "SecInputField", :placeholder => "sec" %>
  </div>
  <%= f.submit "+", :class => "submitButton" %>
<% end %>
