<%= form_for [@setlist, Song.new] do |f| %>
  <div>
    <%= f.label :title, "Song title:" %><br><br>
    <%= f.text_field :title %>
  </div><br>
  <div>
    <%= f.label :minutes, "Minutes:" %><br><br>
    <%= f.number_field :minutes %>
  </div><br>
  <div>
    <%= f.label :seconds, "Seconds:" %><br><br>
    <%= f.number_field :seconds %>
  </div><br>
  <%= f.submit "Submit" %>
<% end %>
