<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

    <!-- Data submission -->
  <body>
    <h1><%= @setlist.title %></h1>
      <%= render 'song' %><br>
      <div class="container">
          <table class="song-table">

          <% @setlist.songs.each do |x| %>
            <tr id="<%= x.id %>">
              <% if x.seconds < 10 %>
              <td class="song-title"><%= x.title %></td>
              <td class="song-duration"><%= "#{x.minutes}:0#{x.seconds}" %></td>
              <td>
                <button type="button" class="delete-song" id="<%= x.id %>">x</button>
              </td>
            </tr>
            <% else %>
              <td class="song-title"><%= x.title %></td>
              <td class="song-duration"><%= "#{x.minutes}:#{x.seconds}" %></td>
              <td>
                <button type="button" class="delete-song" id="<%= x.id %>">x</button>
              </td>
            </tr>
            <% end %>
          <% end %>

          </table>

      <!-- Setlist DUration -->
    <h2>Total Setlist duration:
      <% if @setlist.set_minutes == 0 && @setlist.set_seconds == 0 %>
      <%= "00:00" %>
      <% else %>
      <%= @setlist.set_minutes %>:<%= @setlist.set_seconds %></h2>
      <% end %>
      <%= link_to 'delete setlist', setlist_path(@setlist), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  </body>
</html>
