<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

    <!-- Data submission -->
  <body>
    <div class="header-cont">
      <div class="header-2">
        <div class ="del-setlist"><%= link_to 'delete', setlist_path(@setlist), method: :delete, data: { confirm: 'Are you sure?' }, :id => "delete-sl" %></div>
        <h2><%= @setlist.title %></h2></div>
      <div class="content">
        <%= render 'song' %>
          <table class="song-table">

          <% @setlist.songs.each do |x| %>


            <tr id="<%= x.id %>">
              <td class="song-title"><%= x.title %></td>
              <% if x.seconds < 10 %>
              <td class="song-duration"><%= "#{x.minutes}:0#{x.seconds}" %></td>
              <% else %>
              <td class="song-duration"><%= "#{x.minutes}:#{x.seconds}" %></td>
              <% end %>

              <td>
                <button type="button" i class="fa fa-times" aria-hidden="true" id="<%= x.id %>"></button>
              </td>
            </tr>
          <% end %>

          </table>

      <!-- Setlist Duration -->
      <div class="total-duration">total setlist duration:</div>
    <div class="total-timer"><% if @setlist.set_minutes == 0 && @setlist.set_seconds == 0 %>
      <%= "00:00" %>
      <% else %>
      <%= @setlist.set_minutes %>:<%= @setlist.set_seconds %>
      <% end %></div>
    </div>
  </body>
</html>
